@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}


/*STYLES*/
/*CUSTOM SCROLL*/
body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(161, 161, 161);
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgba(229, 229, 229, 1);
    border-radius: 10px;
}

/*CUSTOM STYLES*/
body {
    /*background: linear-gradient(320deg, #f27121, #e94057, #8a2387);*/
    background-color: #0093E9;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.content__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    max-width: 1200px;
    margin: 50px auto;
}

@media screen and (max-width: 1230px){
    .content__container{
        margin: 50px 15px;
    }
}

.Stepper__Ol li{
    margin-left: initial !important;
    margin-right: initial !important;
}

.STEPS__HEADER {
    /* From https://css.glass */
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 32px;
    backdrop-filter: blur(10px);
    /*MY STYLE*/
    max-width: 1200px;
}

.GlassContainer{
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    width: 100%;
    border-radius: 15px;
    padding: 0 32px;
    backdrop-filter: blur(10px);
    /*MY STYLE*/
    max-width: 1200px;
}

.py-32px{
    padding-top: 32px;
    padding-bottom: 32px;
}

.Next__Button{
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0,0,0,1);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    margin-left: auto;
}

.Next__Button:hover{
    background-color: rgba(255,255,255,0.5);
}

.Next__Button:active{
    transform: scale(0.98);
}


.ADD__BUTTON{
    display: inline-block;
    padding: 24px 32px;
    text-decoration: none;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(0,0,0,1);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 100px;
    height: 100px;
    margin-left: auto;
}

.ADD__BUTTON img{
    pointer-events: none;
}

.ADD__BUTTON:hover{
    background-color: rgba(255,255,255,0.5);
}

.ADD__BUTTON:active{
    transform: scale(0.98);
}

.menu__container{
    position: relative;
    margin-top: 100px;
    /*position: fixed;*/
    /*bottom: 50px;*/
    /*right: 50px;*/
}

.MENU__BUTTON {
    position: absolute;
    display: flex;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    width: 60px;
    height: 60px;
    margin-left: auto;
    transition: all 0.3s ease;
}

.MENU__BUTTON img{
    pointer-events: none;
}

.MENU__BUTTON.btn__1,
.MENU__BUTTON.btn__2,
.MENU__BUTTON.btn__3 {
    top: 0;
    left: 0;
    opacity: 0;
}

.MENU__BUTTON.btn__1{
    transition-delay: 0s;
}

.MENU__BUTTON.btn__2{
    transition-delay: .1s;
}

.MENU__BUTTON.btn__3{
    transition-delay: .2s;
}

.MENU__BUTTON:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.MENU__BUTTON:active {
    transform: scale(0.98);
}

.menu__container.active .btn__1 {
    top: 100px;
    left: 97px;
    opacity: 1;
    pointer-events: initial;
}

.menu__container.active .btn__2 {
    top: 140px;
    left: 18px;
    opacity: 1;
    pointer-events: initial;
}

.menu__container.active .btn__3 {
    top: 100px;
    left: -70px;
    opacity: 1;
    pointer-events: initial;
}

/*REPORT*/

.note{
    height: calc(100% - 1.7rem);
}

.type__part{
    text-align: center;
}

.name__signature{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2.5rem;
    background: white;
    border-bottom: 1px dashed black;
}


.license{
    padding-bottom: 10px !important;
}


/*custom style for print*/
@media print {

    body {
        background-color: #fff;
        background-image: none;
    }

    header.header{
        margin-bottom: 0
    }

    .Header_Info p{
        font-size: 13px;
    }

    .input__value{
        font-size: 13px;
        padding: 5px 10px;
    }

    .logo__image{
        width: 200px;
    }

    .report__container{
        padding: 0;
        margin: 0;
    }

    .report__header{
        font-size: 13px;
        margin: 0;
    }

    .report__title{
        font-size: 10px !important;
    }

    .note{
        height: calc(100%);
    }

    .license,
    .license p{
        font-size: 13px;
        line-height: 1;
    }

}